<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.babbangona.mspalybookupgrade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.babbangona.mspalybookupgrade.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.babbangona.mspalybookupgrade.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon_custom"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon_custom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon,android:roundIcon">
        <activity
            android:name=".FertilizerSignUpViews.FertilizerCollectionCenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FertilizerSignUpViews.ReVerifyActivityFertilizerSignUp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FertilizerSignUpViews.FertilizerSignUpMembers"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FertilizerSignUpViews.FertilizerSignUpHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.ScheduleThreshingSummary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.ScheduleDate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.CalenderViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.CaptureActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.VerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".utils.ReVerifyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.RescheduleThreshingDateSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ThreshingViews.ThreshingDateSelectionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.FieldList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.MemberList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.ThreshingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.ViewRegisteredTransporters"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".transporter.views.TransporterTemplateCaptureActivity" />
        <activity
            android:name=".transporter.views.TransporterBankOptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterCardOptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterPayOptionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterCcActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterLocationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterVehicleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterNamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterPhoneNumberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".transporter.views.TransporterHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PoorWeatherSupportLauncher" />
        <activity android:name=".utils.MappingActivity" />
        <activity
            android:name=".HarvestCollectionCenter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SyncSummary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".network.ActivityListDownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".network.StaffListDownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".network.MsPlaybookInputDataDownloadService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".utils.FieldsContentProvider"
            android:authorities="com.babbangona.mspalybookupgrade"
            android:exported="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".PWSFieldListPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PCPWSHomePage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PCStaffPSWPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FieldListPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HGFieldListPage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GridDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main2Activity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SetPortfolio"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComingSoon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ThreshingViews.ScheduledThreshingView"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Homepage"
            android:exported="true"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>